.nav-item:hover {
	border: 2px solid black;
}

.btn-outline-success {
	color: black;
	border-color: black;
}

.btn-outline-success:hover {
	background-color: black;
	border-color: black;
}


.carousel-inner {
	border: 5px solid black;
}